
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static '/images/favicon-32x32.png' %}" sizes="32x32" type="image/png">
    <link rel="icon" href="{% static '/images/favicon-16x16.png' %}" sizes="16x16" type="image/png">
    <title>Corporate Software Solutions Case Study | Global Retailer | SilverValley Softech</title>
    <link rel="stylesheet" href="{% static 'css/casestudyDetail.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body>
    <!-- Sidebar -->
     <nav class="sidebar" id="sidebar">
        <ul id="nav-links" class="navlinks">
            <li><a href="{% url 'home' %}">Home</a></li>
           <li class="dropdown">
                            <a>Services</a>
                          <ul class="dropdown-menu">
                            {% for item in dropdown_items %}
                                <li><a href="{{ item.get_absolute_url }}">{{ item.label }}</a></li>
                            {% endfor %}
                        </ul> 
                        </li>
            <li class="dropdown">
                <a href="{% url 'case_studies' %}">Case Studies</a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'global_retailer' %}">Global Retailer</a></li>
                    <li><a href="{% url 'techcorpinnovations' %}">TechCorp Innovations</a></li>
                    <li><a href="{% url 'innovatetech' %}">InnovateTech</a></li>
                </ul>
            </li>
            <li><a href="{% url 'process' %}">Our Process</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </nav>

    <!-- Header Section -->
    <div class="body-overlay" id="overlay"></div>
    <header>
        <div class="container">
            <div class="header-wrapper">
                <a href="{% url 'home' %}">
                    <img src="{% static '/images/site-logo2.png' %}" height="50px" alt="Company Logo">
                </a>
                <nav>
                    <div class="hamburger" id="hamburger">
                        <div class="hamburger-wrapper">
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <ul class="navlink-desktopscreen">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li class="dropdown">
                           <a>Services</a>
                             <ul class="dropdown-menu">
    {% for item in dropdown_items %}
        <li><a href="{{ item.get_absolute_url }}">{{ item.label }}</a></li>
    {% endfor %}
</ul>
                        </li>
                        <li class="dropdown">
                            <a href="{% url 'case_studies' %}">Case Studies</a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'global_retailer' %}">Global Retailer</a></li>
                                <li><a href="{% url 'techcorpinnovations' %}">TechCorp Innovations</a></li>
                                <li><a href="{% url 'innovatetech' %}">InnovateTech</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'process' %}">Our Process</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <!-- Navigation Section -->
<section class="navigation">
    <div class="container">
        <div class="navigation-content">
            <p class="page-title">Global Retailer</p>
            <p><span><a href="{% url 'home' %}">Home</a></span> || <span>Global Retailer</span></p>
        </div>
    </div>
</section>
    <!-- Case Study Section -->
    <section class="case-study">
        <div class="container">
            <div class="title">
                <div></div>
                <p>Corporate Software Solution for Global Retailer</p>
            </div>
            <div class="case-study-wrapper">
                <div class="case-study-summary">
                    <p><strong>Client</strong> Global Retailer</p>
                    <p><strong>Industry</strong> Technology</p>
                    <p><strong>Service Provided</strong> Corporate & Enterprise Software</p>
                    <p><strong>Duration</strong> 6 months</p>
                </div>
                <div class="case-study-details">
                    <p><strong>Challenge</strong> The client was facing delays in project delivery, high operational
                        costs due to manual processes, and low employee productivity due to inefficiencies in internal
                        workflows. These challenges made it difficult for the client to maintain a competitive edge in an
                        increasingly fast-paced market.</p>
                    <p><strong>Solution</strong> We implemented a custom software solution to streamline project
                        workflows, automate repetitive tasks, and optimize internal processes. This software integrated
                        with the client's existing systems, providing real-time updates and reducing dependency on
                        manual work. We also introduced automated reporting and real-time data synchronization,
                        eliminating the need for manual data entry and minimizing errors. </p>
                </div>
                <div class="case-study-result-img">
                    <p>Result</p>
                    <div>
                        <img src="{% static '/images/global-retailer-insight1.png' %}" alt="result data insights graph image">
                        <img src="{% static '/images/global-retailer-insight2.png' %}" alt="result data insights graph image">
                        <img src="{% static '/images/global-retailer-insight3.png' %}" alt="result data insights graph image">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer Section -->
    <footer>
        <div class="container">
            <div class="footer-wrapper">
                <ul class="footer-company">
                    <li>Company</li>
                    <li><img src="{% static 'images/address-white.png' %}" alt="" /> Sydney, Australia</li>
                    <li><img src="{% static 'images/call-white.png' %}" alt="" /> 0493 476 808</li>
                    <li><img src="{% static 'images/email-white.png' %}" alt="" /> it@savileaf.com.au</li>
                </ul>
                <ul class="footer-servicelink">
    <li>Our Services</li>
    {% for service in footer_services %}
        <li>
            <a href="{{ service.get_absolute_url }}" target="_self">
                {{ service.name }}
                <img src="{% static 'images/arrow-white-up.png' %}" alt="" loading="lazy" />
            </a>
        </li>
    {% endfor %}
</ul>
                <ul class="footer-quicklink">
                    <li>Quick Links</li>
                    <li><a href="{% url 'home' %}" target="_self">Home <img src="{% static 'images/arrow-white-up.png' %}" alt="" /></a></li>
                    <li><a href="{% url 'case_studies' %}" target="_self">Case Study <img src="{% static 'images/arrow-white-up.png' %}" alt="" /></a></li>
                    <li><a href="{% url 'contact' %}" target="_self">Contact <img src="{% static 'images/arrow-white-up.png' %}" alt="" /></a></li>
                    <li><a href="{% url 'home' %}" target="_self">Privacy Policy <img src="{% static 'images/arrow-white-up.png' %}" alt="" /></a></li>
                </ul>
                
                
                <ul class="footer-img">
                    <a href="{% url 'contact' %}" class="cta-btn">Get Free Estimate</a>
                </ul>
            </div>
            <div class="copyright">
                <p>Copyright © 2023 SilverValley Softech. All Rights Reserved.</p>
            </div>
        </div>
    </footer>

    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>

</body>
</html>
