{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/favicon-32x32.png' %}" sizes="32x32" type="image/png">
    <link rel="icon" href="{% static 'images/favicon-16x16.png' %}" sizes="16x16" type="image/png">
    <title>Software Solutions by Silvervalley Softech - Empowering Growth & Efficiency</title>
    <link rel="stylesheet" href="{% static 'css/solution.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
   <!-- Sidebar -->
    <nav class="sidebar" id="sidebar">
        <ul id="nav-links" class="navlinks">
            <li><a href="{% url 'home' %}" target="_self">Home</a></li>
            <li class="dropdown">
                <a>Services</a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'website_development' %}" target="_self">Website Development</a></li>
                    <li><a href="{% url 'website_redesign' %}" target="_self">Website Redesign & Modernisation</a></li>
                    <li><a href="{% url 'web_app_development' %}" target="_self">Web App Development</a></li>
                    <li><a href="{% url 'mobile_app_development' %}" target="_self">Mobile App Development</a></li>
                    <li><a href="{% url 'payment_gateway' %}" target="_self">Payment Gateway Integration</a></li>
                    <li><a href="{% url 'ai_solutions' %}" target="_self">AI-Powered Business Solutions</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="{% url 'case_studies' %}">Case Studies</a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'global_retailer' %}" target="_self">Global Retailer</a></li>
                    <li><a href="{% url 'techcorpinnovations' %}" target="_self">TechCorp Innovations</a></li>
                    <li><a href="{% url 'innovatetech' %}" target="_self">InnovateTech</a></li>
                </ul>
            </li>
            <li><a href="{% url 'process' %}" target="_self">Our Process</a></li>
            <li><a href="{% url 'contact' %}" target="_self">Contact</a></li>
        </ul>
    </nav>
    
    <!-- Header Section -->
    <div class="body-overlay" id="overlay"></div>
    <header>
        <div class="container">
            <div class="header-wrapper">
                <a href="{% url 'home' %}">
                    <img src="{% static 'images/site-logo2.png' %}" height="50px" alt="Company Logo">
                </a>
                <nav>
                    <div class="hamburger" id="hamburger">
                        <div class="hamburger-wrapper">
                            <div></div>
                            <!-- <div></div> -->
                            <div></div>
                        </div>
                    </div>
                    <ul class="navlink-desktopscreen">
                        <li><a href="{% url 'home' %}" target="_self">Home</a></li>
                        <li class="dropdown">
                            <a href="{% url 'solution' %}" target="_self">Services</a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'website_development' %}" target="_self">Website Development</a></li>
                                <li><a href="{% url 'website_redesign' %}" target="_self">Website Redesign & Modernisation</a></li>
                                <li><a href="{% url 'web_app_development' %}" target="_self">Web App Development</a></li>
                                <li><a href="{% url 'mobile_app_development' %}" target="_self">Mobile App Development</a></li>
                                <li><a href="{% url 'payment_gateway' %}" target="_self">Payment Gateway Integration</a></li>
                                <li><a href="{% url 'ai_solutions' %}" target="_self">AI-Powered Business Solutions</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="{% url 'case_studies' %}">Case Studies</a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'global_retailer' %}" target="_self">Global Retailer</a></li>
                                <li><a href="{% url 'techcorpinnovations' %}" target="_self">TechCorp Innovations</a></li>
                                <li><a href="{% url 'innovatetech' %}" target="_self">InnovateTech</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'process' %}" target="_self">Our Process</a></li>
                        <li><a href="{% url 'contact' %}" target="_self">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    
    <!-- Navigation Section -->
    <section class="navigation">
        <div class="container">
            <div class="navigation-content">
                <p class="page-title">Solutions</p>
                <p><span><a href="{% url 'home' %}" target="_self">Home</a></span> || <span>Solution</span></p>
            </div>
            <img class="navigation-img" src="{% static 'images/hosting-illustration3.png' %}" alt="">
        </div>
    </section>

    <!-- Industries Section -->
    <section class="industries">
        <div class="container">
            <div class="industries-wrapper">
                <div class="industries-boxes">
                    <div class="industry-box">
                        <img src="{% static 'images/medicine-box-icon.png' %}" alt=""><h4>Healthcare</h4>
                        <p class="description">We offer innovative solutions in healthcare, improving patient care and hospital management through digital transformation.</p>
                    </div>
                    <div class="industry-box">
                        <img src="{% static 'images/moneyinsight-icon.png' %}" alt=""><h4>Finance & Banking</h4>
                        <p class="description">Our services help financial institutions streamline operations, ensure security, and enhance customer experience.</p>
                    </div>
                    <div class="industry-box industry-box3">
                        <img src="{% static 'images/cart-icon.png' %}" alt=""><h4>Retail & E-Commerce</h4>
                        <p class="description">We provide scalable solutions for e-commerce platforms, enhancing user experience and optimizing business processes.</p>
                    </div>
                    <div class="industry-box">
                        <img src="{% static 'images/book-icon.png' %}" alt=""><h4>Education</h4>
                        <p class="description">Our solutions in education aim to improve learning outcomes and administrative efficiency through technology.</p>
                    </div>
                </div>
                <div class="industry-description">
                    <div class="title">
                        <div></div>
                        <p>Industries We Serve</p>
                    </div>
                    <p>At Silvervalley Softech, we offer scalable and customized solutions that meet the unique needs of businesses across diverse industries. Whether you're in healthcare, finance, or retail, our solutions are designed to help you thrive in the digital age.</p>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Growth Section -->
    <section class="growth">
        <div class="container">
            <div class="title">
                <div></div>
                <p>What's Holding Your Business Back?</p>
            </div>
            <div class="growth-wrapper">
                <div class="growth-box-row">
                    <div class="growth-box">
                        <h3>Manual Processes</h3>
                        <p>You're wasting time on repetitive, manual tasks. Our custom software automates processes, saving your team hours every week.</p>
                    </div>
                    <div class="growth-box">
                        <h3>Disconnected Systems</h3>
                        <p>Your software doesn't communicate with other tools. Our solution integrates everything into one seamless system, reducing errors and boosting productivity.</p>
                    </div>
                    <div class="growth-box">
                        <h3>Outdated Technology</h3>
                        <p>Your current software is slow and difficult to use. Our solutions are cutting-edge and provide an intuitive user experience that drives results.</p>
                    </div>
                </div>                
                <div class="growth-box-row">
                    <img src="{% static 'images/dashed-line1.png' %}" alt="">
                </div>
                <div class="growth-box-row">
                    <div class="growth-box growth-box-business">
                        <img src="{% static 'images/building-icon.png' %}" alt="">
                        <span>Your Business</span>
                    </div>
                </div>
                <div class="growth-box-row">
                    <img src="{% static 'images/dashed-line2.png' %}" alt="">
                </div>
                <div class="growth-box-row">
                    <div class="growth-box">
                        <h3>Lack of Scalability</h3>
                        <p>Your current system can't grow with your business. Our solutions are designed to scale, ensuring that as your business expands, your software evolves with it.</p>
                    </div>
                    <div class="growth-box">
                        <h3>Security Risks</h3>
                        <p>Sensitive data is exposed to potential threats. Our software is built with top-notch security features, ensuring robust protection for your business and clients.</p>
                    </div>
                </div>
            </div>
            <div class="growth-bottom-text">
                <p>If any of these barriers sound familiar, it's time to make a change. Let us show you how our tailored software can unlock your business's potential and give you a competitive edge.</p>
                <a href="{% url 'contact' %}" class="cta-btn" target="_self">Contact Us Now</a>
            </div>
        </div>
    </section>

    <!-- Business Flow Section -->
    <div class="business-flow">
        <div class="business-flow-container">
            <div class="title">
                <div></div>
                <p>Smooth Business Flow</p>
            </div>
            <img class="business-flow-img" src="{% static 'images/businessflow2.png' %}" loading="lazy" alt="">
            <img class="business-flow-mobilescreen" src="{% static 'images/businessflow-smallscreen2.png' %}" loading="lazy" alt="">
            <div class="business-flow-link">
                <a href="{% url 'contact' %}" class="cta-btn">Hire Us</a>
            </div>
        </div>
    </div>
    
    <!-- Footer Section -->
    <footer>
        <div class="container">
            <div class="footer-wrapper">
                <ul class="footer-company">
                    <li>Company</li>
                    <li><img src="{% static 'images/address-white.png' %}" alt=""> Sydney, Australia</li>
                    <li><img src="{% static 'images/call-white.png' %}" alt=""> 0493 476 808</li>
                    <li><img src="{% static 'images/email-white.png' %}" alt=""> it@savileaf.com.au</li>
                </ul>
                <ul class="footer-servicelink">
                    <li>Our Services</li>
                    <li><a href="{% url 'website_development' %}" target="_self">Website Development <img
                                src="{% static 'images/arrow-white-up.png' %}" alt="" loading="lazy"></a></li>
                    <li><a href="{% url 'website_redesign' %}" target="_self">Website Redesign & Modernisation <img
                                src="{% static 'images/arrow-white-up.png' %}" alt="" loading="lazy"></a></li>
                    <li><a href="{% url 'web_app_development' %}" target="_self">Web App Development <img
                                src="{% static 'images/arrow-white-up.png' %}" alt="" loading="lazy"></a></li>
                    <li><a href="{% url 'mobile_app_development' %}" target="_self">Mobile App Development <img
                                src="{% static 'images/arrow-white-up.png' %}" alt="" loading="lazy"></a></li>
                    <li><a href="{% url 'payment_gateway' %}" target="_self">Payment Gateway Integration <img
                                src="{% static 'images/arrow-white-up.png' %}" alt="" loading="lazy"></a></li>
                    <li><a href="{% url 'ai_solutions' %}" target="_self">AI-Powered Business Solutions <img
                                src="{% static 'images/arrow-white-up.png' %}" alt="" loading="lazy"></a></li>
                </ul>
                <ul class="footer-quicklink">
                    <li>Quick Links</li>
                    <li><a href="{% url 'home' %}" target="_self">Home <img src="{% static 'images/arrow-white-up.png' %}" alt=""></a></li>
                    <li><a href="{% url 'case_studies' %}" target="_self">Case Study <img src="{% static 'images/arrow-white-up.png' %}" alt=""></a>
                    </li>
                    <li><a href="{% url 'contact' %}" target="_self">Contact <img src="{% static 'images/arrow-white-up.png' %}" alt=""></a></li>
                    <li><a href="{% url 'home' %}" target="_self">Privacy Policy <img src="{% static 'images/arrow-white-up.png' %}" alt=""></a></li>
                </ul>
                <ul class="footer-img">
                    <a href="{% url 'contact' %}" class="cta-btn">Get Free Estimate</a>
                </ul>
            </div>
        </div>
        <p class="footer-bottom-text">All Rights Reserved © SaviLeaf</p>
    </footer>
    
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>